<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/ext/layout.css">
<link rel="stylesheet" href="/css/ext/layout_pc.css">
<link rel="stylesheet" href="/css/ext/widget.css">
<link rel="stylesheet" href="/css/ext/widget_pc.css">
<link rel="stylesheet" href="/css/css_color/b_grey.css">
<link rel="stylesheet" href="/css/css_color/b_grey_pc.css">
<link rel="stylesheet" href="/css/css_color/c_redBlack.css">
<link rel="stylesheet" href="/css/css_color/c_redBlack_pc.css">
<title>footer</title>
</head>
<body>

				<footer class="ink_footer" th:fragment="footer">
					<div class="logo_bottom"><a href="https://extmovie.com" rel="home"><img src="/images/logo/SulJeokPen.png" alt="익스트림무비"></a></div>
						<div class="footer_content">
							<div class="footer_1st footer_table">
								<div class="ink_copyright text_en footer_cell">Copyright© <a href="https://extmovie.com">RumFlick</a> All rights reserved.</div>
								<div class="footer_menu footer_cell">
								<ul>
								</ul>
								</div>				
							</div>
						<div class="footer_2nd footer_table">
							<div class="custom_code footer_text footer_cell">럼플릭 2024년 레이아웃, 만드는 중</div>
						</div>
						<div class="footer-content1">
							<div class="link-list ">
		                    	<a href="#" class="liner"><span>사이트 소개</span></a>
		                    	<a href="#" class="liner"><span>이용약관</span></a>
		                    	<a href="#" class="liner"><span>개인정보 취급방침</span></a>
		                    	<a href="#" class="liner"><span>고객센터</span></a>
		                    	<a href="#" rel="modal:open nofollow" class="liner"><span>자료요청</span></a>
		                    	<a href="/?device=mobile" class="liner" rel="nofollow"><span>모바일 버전</span></a>
		                    	<a href="#" class="liner" rel="nofollow"><span>저작권 보호센터</span></a>
		                	</div>
						</div>
					</div>
				</footer>

			<button class="ink_bt_top" style="display: block;"><i class="fas fa-angle-up"></i></button>
		<!--         <div id="footer"> -->
		<!--             <div class="footer-content"> -->
		<!-- 					<div class="link-list "> -->
		<!--                     	<a href="#" class="liner"><span>사이트 소개</span></a> -->
		<!--                     	<a href="#" class="liner"><span>이용약관</span></a> -->
		<!--                     	<a href="#" class="liner"><span>개인정보 취급방침</span></a> -->
		<!--                     	<a href="#" class="liner"><span>고객센터</span></a> -->
		<!--                     	<a href="#" rel="modal:open nofollow" class="liner"><span>자료요청</span></a> -->
		<!--                     	<a href="/?device=mobile" class="liner" rel="nofollow"><span>모바일 버전</span></a> -->
		<!--                     	<a href="#" class="liner" rel="nofollow"><span>저작권 보호센터</span></a> -->
		<!--                 	</div> -->
		<!--             </div> -->
		<!--         </div> -->
</body>
</html>