<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>한국 드라마</title>
</head>
<body>
<div id="app">
		<div id="header">
			<div class="col-logo">
				<div class="logo-inner">
					<div class="folding-menu">
						<button class="folding">
							<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="ic:round-menu" class="iconify iconify--ic">
								<path fill="currentColor" d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1m0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1M3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1"></path>
							</svg>
						</button>
					</div>
					<div class="logo">
						<h1>
							<a href="/" title="RumFlick"><img src="/images/logo/MainLogo.png" alt="RumFlick"></a>
						</h1>
					</div>
				</div>
			</div>
			<div class="col-search">
				<div class="search-inner">
					<form name="fSearchBox" id="search" method="get" action="/noonoo/search.php">
						<div class="search-form">
							<input type="text" name="stx" class="search-input" placeholder="검색어를 입력해주세요" autocomplete="off" value="">
							<div class="search-res">
								<button class="submit" type="submit">
									<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="material-symbols:search" class="iconify iconify--material-symbols">
										<path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"></path>
									</svg>
									<span class="blind">검색</span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-extra">
				<div class="extra-inner">
					<div class="member-action">
						<a href="/bbs/login.php">로그인</a> <a href="/bbs/register_form.php">회원가입</a>
					</div>
				</div>
			</div>
		</div>

		<div id="aside">
			<div id="scrolling-box" class="scrolling-box mb-container" style="position: relative;">
				<div class="mb-track mb-track-x">
					<div class="mb-bar" style="width: 210px;"></div>
				</div>
				<div class="mb-track mb-track-y">
					<div class="mb-bar" style="height: 797px; top: 0px;"></div>
				</div>
				<div class="mb-content"
					style="overflow-y: auto; margin-right: -17px;">
					<div class="home-menu">
						<div class="rows">
							<a href="/" target="_self">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="material-symbols:home-outline" class="iconify iconify--material-symbols">
									<path fill="currentColor" d="M6 19h3v-6h6v6h3v-9l-6-4.5L6 10zm-2 2V9l8-6l8 6v12h-7v-6h-2v6zm8-8.75"></path>
								</svg>
								<strong>홈</strong>
							</a>
						</div>
						<div class="rows">
							<a href="/all/program_list.php" target="_self">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="ic:round-list-alt" class="iconify iconify--ic">
									<path fill="currentColor" d="M12 9h4c.55 0 1-.45 1-1s-.45-1-1-1h-4c-.55 0-1 .45-1 1s.45 1 1 1m0 4h4c.55 0 1-.45 1-1s-.45-1-1-1h-4c-.55 0-1 .45-1 1s.45 1 1 1m0 4h4c.55 0 1-.45 1-1s-.45-1-1-1h-4c-.55 0-1 .45-1 1s.45 1 1 1M7 7h2v2H7zm0 4h2v2H7zm0 4h2v2H7zM20 3H4c-.55 0-1 .45-1 1v16c0 .55.45 1 1 1h16c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1m-1 16H5V5h14z"></path>
								</svg>
								<strong>전체보기</strong>
							</a>
						</div>
						<div class="rows">
							<a href="/noonoo/popular_list.php">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="ic:outline-star-outline" class="iconify iconify--ic">
									<path fill="currentColor" d="m22 9.24l-7.19-.62L12 2L9.19 8.63L2 9.24l5.46 4.73L5.82 21L12 17.27L18.18 21l-1.63-7.03zM12 15.4l-3.76 2.27l1-4.28l-3.32-2.88l4.38-.38L12 6.1l1.71 4.04l4.38.38l-3.32 2.88l1 4.28z"></path>
								</svg>
								<strong>인기영상</strong>
							</a>
						</div>
					</div>
					<div class="main-menu">
						<div class="menu-list">
							<div class="menu">
								<h2>
									<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="ic:outline-local-movies" class="iconify iconify--ic">
										<path fill="currentColor" d="M14 5v14h-4V5zm6-2h-2v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2zm-4 6V7h2v2zM6 9V7h2v2zm10 4v-2h2v2zM6 13v-2h2v2zm10 4v-2h2v2zM6 17v-2h2v2z"></path>
									</svg>
									<strong>영화</strong>
								</h2>
								<ul>
									<li class=""><a href="/noonoo/program_list.php?section=kr_movie">한국영화</a></li>
									<li class=""><a href="/noonoo/program_list.php?section=en_movie">해외영화</a></li>
									<li class=""><a href="/noonoo/program_list.php?section=ani_movie">[극장판] 에니메이션</a></li>
								</ul>
							</div>
						</div>
						<div class="menu-list">
							<div class="menu">
								<h2>
									<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="material-symbols:tv-gen-outline" class="iconify iconify--material-symbols">
										<path fill="currentColor" d="M4 21v-2q-.825 0-1.412-.587T2 17V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v11q0 .825-.587 1.413T20 19v2h-1l-.65-2H5.675L5 21zm0-4h16V6H4zm8-5.5"></path>
									</svg>
									<strong>드라마</strong>
								</h2>
								<ul>
									<li class=""><a href="/noonoo/program_list.php?section=drama">한국드라마</a></li>
									<li class=""><a href="/noonoo/program_list.php?section=en_drama">해외드라마</a></li>
								</ul>
							</div>
						</div>
						<div class="menu-list">
							<div class="menu">
								<h2>
									<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="mdi:film-star-outline" class="iconify iconify--mdi">
										<path fill="currentColor" d="M13 19c0 .34.04.67.09 1H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1l2 4h3L8 4h2l2 4h3l-2-4h2l2 4h3l-2-4h4v9.81c-.61-.35-1.28-.59-2-.72V10H5.76L4 6.47V18h9.09c-.05.33-.09.66-.09 1m10-1.11l-2.89-.25L19 15l-1.13 2.64l-2.87.25l2.18 1.88l-.68 2.81l2.5-1.49l2.45 1.49l-.65-2.81z"></path>
									</svg>
									<strong>애니메이션</strong>
								</h2>
								<ul>
									<li class=""><a href="/noonoo/program_list.php?section=animation">에니메이션</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="home-menu">
						<div class="rows">
							<a href="/noonoo/history_list.php">
								<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="material-symbols-light:keyboard-command-key" class="iconify iconify--materials-symbols">
									<path fill="currentColor" d="M6.5 20.5q-1.258 0-2.129-.871T3.5 17.5t.871-2.129T6.5 14.5h2v-5h-2q-1.258 0-2.129-.871T3.5 6.5t.871-2.129T6.5 3.5t2.129.871T9.5 6.5v2h5v-2q0-1.258.871-2.129T17.5 3.5t2.129.871T20.5 6.5t-.871 2.129T17.5 9.5h-2v5h2q1.258 0 2.129.871T20.5 17.5t-.871 2.129t-2.129.871t-2.129-.871T14.5 17.5v-2h-5v2q0 1.258-.871 2.129T6.5 20.5m0-1q.817 0 1.409-.591q.591-.592.591-1.409v-2h-2q-.817 0-1.409.591q-.591.592-.591 1.409t.591 1.409T6.5 19.5m11 0q.817 0 1.409-.591q.591-.592.591-1.409t-.591-1.409T17.5 15.5h-2v2q0 .817.591 1.409q.592.591 1.409.591m-8-5h5v-5h-5zm-3-6h2v-2q0-.817-.591-1.409Q7.317 4.5 6.5 4.5t-1.409.591T4.5 6.5t.591 1.409Q5.683 8.5 6.5 8.5m9 0h2q.817 0 1.409-.591q.591-.592.591-1.409t-.591-1.409T17.5 4.5t-1.409.591Q15.5 5.683 15.5 6.5z" />
								</svg>
								<strong>it수다</strong>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div id="container">
        <div class="sec-policy-1">
            <div class="inner">
                <a href="https://info.nunu2.tv" target="_blank" class="sec-1">
                    &emsp;새로운 안내
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 24 24" data-icon="ic:outline-keyboard-arrow-right" class="iconify iconify--ic"><path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6z"></path></svg>
                </a>
            </div>
        </div>
        <div class="sec-policy-2">
            <div class="inner">
                <a href="javascript:void(0);" class="sec-1">
                    &emsp;공식 도메인 주소가 변경되었습니다, 참고 바랍니다.
                </a>
            </div>
        </div>
        <div class="content">
            <div class="content-banner"></div>
				<div id="movie-container">
			    	<div class="movie-header">
						<div class="subject"><h2>한국드라마</h2></div>
						<div class="category ">
							<div class="multi-nw-dropdown"></div>
			        	</div>
			    	</div>
			    	<ul class="movie-list">
						<li>
							<a href="/noonoo/program_view.php?id=119255" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/d3f56255923c8b3873372c4b0ca03d39312e3c00e3aa6293cab14873997bee88" title=""> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119255"><strong>그녀가 죽었다</strong></a>
							</div>
							<div class="star">
			                	<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119212" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/b0c6724f9ac23166f6028adc036b3c4c0d7db60d78d0c4bc7a8d48ceacf6362e" title=""> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119212"><strong>땅에 쓰는 시</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119211" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/44fcded9db2ca7b67fb8079d7b460136a54596b1bd991eebb63b6f4fb6698a26" title=""> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119211"><strong>친구사이?</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119210" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/c03b36ac6be3afd4eb850d89fd1e477ff3ddb99866f52e84a144f06ff10c3195" title=""> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119210"><strong>대치동 스캔들</strong></a>
							</div>
							<div class="star">
			                	<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119209" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/21586b864a51f99fcee6eb33a274c47765c843d1b675eb516685a198225a41f3" title=""> 
								</div>
							</a>
			            	<div class="title">
								<a href="/noonoo/program_view.php?id=119209"><strong>타로</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119185" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/3c1ab7d233a0cc40ee388d2631374d3d40cd3e90f5a43c456994561a48fdd31a"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119185"><strong>을화</strong></a>
							</div>
							<div class="star">
			                	<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119184" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/f9780f087bdd8d4255ab96fa170c5430da0707c823974ca3edbbc7d9c1305d07"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119184"><strong>육체의 약속</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119183" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/75bf0ed7792ea8540533a66c73b7be3ba3519e532fcbb975b449fc805905b5d0"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119183"><strong>니자리</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119182" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/c1218533c42b43123b888559e1865ecc2c05a180f78f843dbab3094a55356a66"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119182"><strong>밤이 되었습니다</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119162" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/d2324bb8a50f93312c950d9d5643618bf34f88cc68f0cdaa4b03e7d9eb3d965f"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119162"><strong>살어리랏다</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119161" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/f428c7e29d22ae065a427aeb265b1e937a8e5e3a3e95f60d77d9cf4a1a28058e"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119161"><strong>꿀맛</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119147" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/e46718755c61b9d647bc0b6068b267dfe1663ec1d13536305cdb379c17b87e0f"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119147"><strong>아벤고 공수군단</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119146" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/05bbc6dbc7914cb71bea4eb610308f8816245f988ff31a0f36c26078ba299f50"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119146"><strong>범죄도시 4</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119139" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/8fa675e41affa50bcb264f53bf93eebf3be8aead220cdf97f8f97206a584371f"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119139"><strong>꽃잎</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119073" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/959cc272bd13cd44857edcc89123b9ff2c57180488b4c9a16a92151320cf8494"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119073"><strong>라스트 씬</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119072" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/8b510d1f19283f2a9f97e40b7a49100889d4d18b2a51d63cf00daf385e4906de"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119072"><strong>분노의 강</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119058" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/042ef7b0a3d0963afd9a1cbe646e9f20a5a32274b21953f4db4a117c54bbe5d4"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119058"><strong>우리가족</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119057" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/ec42c7c95d0b1818a8518c19a71d3dc7e36a26a0c3bee5b13f805d8371e35725"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119057"><strong>늦더위</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119056" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/770ca0d1609b367662ca8d771b894de9b15513e4cde752eb3485e63cb8a585d9"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119056"><strong>달은... 해가 꾸는 꿈</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119029" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/c3a3e45e472483facc487b75d8ae578d37899f538e56c780ff8f30d57419154c"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119029"><strong>원더랜드</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119028" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/41d86c76a6894bb5fc9685cae4cd543245da4dac0a202b03291a2899080a320f"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119028"><strong>목화솜 피는 날</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=119011" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/85860245d3a97e7511b9d687977f8751faf2c3db35924e266045d646b8f06ee7"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=119011"><strong>강철비 2: 정상회담 감독판</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118975" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/1085d1d52c310c51045cd7e44d85a65644905f36948db12e152f15d921899980"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118975"><strong>미지수</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118897" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/cb4d524fd67ce5a21e21a6f8f24dc2321534b9fa873242057e53406cf278f60d"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118897"><strong>란제리 살인사건</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118896" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/18d0045e801628a8959977002497eeaf68238a8660cb73b4362f8434cbbe9ba6"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118896"><strong>하녀</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118895" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/f7a61ffd83fc94183bdfe5f1d3a41585d4d33010c4b619123ccde2fb44e1836e"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118895"><strong>죽도 서핑 다이어리</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118894" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/cb5db557d16343f5f5df1e0c530c852a83350a8f874b80d6a6f71a25ce082004"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118894"><strong>설계자</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118867" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/5673a89fbc83808ae6e025235451f01d2b2e09a11b2209a7f4f5fe370b9bf1fd"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118867"><strong>지옥화</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118832" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/77c1bea177d40eb425df11b908de7e8a7524a7f9e02378b38f59bd02ab81eb9a"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118832"><strong>블러드 사쿠라</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
						<li>
							<a href="/noonoo/program_view.php?id=118720" class="thumb">
								<div class="poster">
									<img src="https://nunu2.tv/data/noonoo/program/2407/5abcf51120c186c87de486a6992c101448482a1e15ff404e5c77b28b278d12d6"> 
								</div>
							</a>
							<div class="title">
								<a href="/noonoo/program_view.php?id=118720"><strong>살인택시괴담: 야경 챕터2</strong></a>
							</div>
							<div class="star">
								<span>평점</span><strong>0</strong>
							</div>
						</li>
					</ul>
				    <div class="paging">
				        <nav class="pg_wrap"><span class="pg"><span class="sound_only">열린</span><strong class="pg_current">1</strong><span class="sound_only">페이지</span>
							<a href="program_list.php?section=kr_movie&amp;page=2" class="pg_page">2<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=3" class="pg_page">3<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=4" class="pg_page">4<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=5" class="pg_page">5<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=6" class="pg_page">6<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=7" class="pg_page">7<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=8" class="pg_page">8<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=9" class="pg_page">9<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=10" class="pg_page">10<span class="sound_only">페이지</span></a>
							<a href="program_list.php?section=kr_movie&amp;page=11" class="pg_page pg_next">다음</a>
							<a href="program_list.php?section=kr_movie&amp;page=415" class="pg_page pg_end">맨끝</a>
							</span>
						</nav>
					</div>
				</div>
			</div>
        	<div class="ink_footer_wrap">
				<footer class="ink_footer">
					<div class="logo_bottom"><a href="https://extmovie.com" rel="home"><img src="images/logo/SulJeokPen.png" alt="익스트림무비"></a></div>
						<div class="footer_content">
							<div class="footer_1st footer_table">
								<div class="ink_copyright text_en footer_cell">Copyright© <a href="https://extmovie.com">RumFlick</a> All rights reserved.</div>
								<div class="footer_menu footer_cell">
								<ul>
								</ul>
								</div>				
							</div>
						<div class="footer_2nd footer_table">
							<div class="custom_code footer_text footer_cell">럼플릭 2024년 레이아웃, 만드는 중</div>
						</div>
						<div class="footer-content1">
							<div class="link-list ">
		                    	<a href="#" class="liner"><span>사이트 소개</span></a>
		                    	<a href="#" class="liner"><span>이용약관</span></a>
		                    	<a href="#" class="liner"><span>개인정보 취급방침</span></a>
		                    	<a href="#" class="liner"><span>고객센터</span></a>
		                    	<a href="#" rel="modal:open nofollow" class="liner"><span>자료요청</span></a>
		                    	<a href="/?device=mobile" class="liner" rel="nofollow"><span>모바일 버전</span></a>
		                    	<a href="#" class="liner" rel="nofollow"><span>저작권 보호센터</span></a>
		                	</div>
						</div>
					</div>
				</footer>
			</div>
		<button class="ink_bt_top" style="display: block;"><i class="fas fa-angle-up"></i></button>						
    </div>
</div>
</body>
</html>