<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="icon" sizes="192x192" href="/images/logo/RumFlickTapLogo.png" type="image/jpeg">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
<link rel="stylesheet" href="https://nunu2.tv/js/font-awesome/css/font-awesome.min.css?ver=240328">
<link rel="stylesheet" href="/css/util.css">
<link rel="stylesheet" href="https://unpkg.com/minibarjs@latest/dist/minibar.min.css" type="text/css">
<link rel="stylesheet" href="/css/modal.css?">
<link rel="stylesheet" href="/css/alertify.min.css">
<link rel="stylesheet" href="/css/default.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/layout_pc.css">
<link rel="stylesheet" href="/css/widget.css">
<link rel="stylesheet" href="/css/widget_pc.css">
<link rel="stylesheet" href="/css/css_color/b_grey.css">
<link rel="stylesheet" href="/css/css_color/b_grey_pc.css">
<link rel="stylesheet" href="/css/css_color/c_redBlack.css">
<link rel="stylesheet" href="/css/css_color/c_redBlack_pc.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/layoutline.css">
<link rel="stylesheet" href="/css/swiper.min.css">
<title>Main Page</title>

</head>
<body>
<input type="hidden" name="sessionId" value="sessionId">
	<div id="app">
		<div th:insert="~{thymeleaf/main/header :: header}"></div>
		<div id="container" class="ink_container header_typeB3 containerN"  style="padding-bottom: 192px;">
			<div id="ink_wrapper" class="ink_wrapper clearfix">
				<aside class="ink_sidebar right_sidebar">
					<div id="links">
						<ul>
							<li>
								<a href="https://www.netflix.com/">
									<span id="quick-icon1"></span>
<!-- 									<p>넷플릭스</p> -->
								</a>
							</li>
							<li>
								<a href="https://www.wavve.com/">
									<span id="quick-icon2"></span>
<!-- 									<p>웨이브</p> -->
								</a>
							</li>
							<li>
								<a href="https://www.coupangplay.com/">
									<span id="quick-icon3"></span>
<!-- 									<p>쿠팡플레이</p> -->
								</a>
							</li>
						</ul>
					</div>
				</aside>
				<div id="slideShow">
		        	<div id="slides">
		        		<a href="#"><img src="../images/slide/festival_de_cannes.png" alt=""></a>
						<a href="https://www.naver.com"><img src="/images/slide/berlin.png" alt=""></a>
						<a href="#"><img src="/images/slide/venice_file_festival.png" alt=""></a>
		        		<a href="https://www.google.com"><img src="/images/slide/biff.jpg" alt=""></a>
		        		<a href="#"><img src="/images/slide/jiff.png" alt=""></a>
		        		<a href="https://map.kakao.com"><img src="/images/slide/film_festival.jpg" alt=""></a>
		        		<script src="/js/autoslideshow.js"></script>
		        	</div>
		        </div>
				<div id="content" class="ink_content" role="main">
					<div class="xe-widget-wrapper "
						style="float: right; width: 49%; border-width: 0px; border-style: solid; border-color: rgb(34, 34, 34); margin: 0px 0px 18px; background-image: none; background-repeat: repeat; background-position: 0% 0%;">
						<div style="zoom:1; padding: 0px 0px 0px 0px !important;">
							<div>
								<div class="ink_widget">
									<div class="w_title">
										<h3>
											<a href="/bob">명예의전당</a>
										</h3>
									</div>
									<div class="w_list wn">
										<ul>
											<li class="page1 active">
												<ul class="list_unit list_unit0">
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank1">
															<span class="list_rank text_en">1</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92337114">[불금호러 No.37] 예측하기 힘든 진실 - 아이 씨 유</a>
																<a class="cmt_num updated" href="/movietalk/92337114#comment">5</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank2">
															<span class="list_rank text_en">2</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336264">'데드풀과 울버린' 미리 예습할 영화들 정리</a>
																<a class="cmt_num updated" href="/movietalk/92336264#comment">7</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank3">
															<span class="list_rank text_en">3</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92335958">오늘 데드맨과 울버린 레카 정말 재미있었어요</a>
																<a class="cmt_num updated" href="/movietalk/92335958#comment">5</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank4">
															<span class="list_rank text_en">4</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92334573">넷플릭스) 비버리 힐스 캅: 액셀F - 간단 후기</a>
																<a class="cmt_num updated" href="/movietalk/92334573#comment">11</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank5">
															<span class="list_rank text_en">5</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92334242">루피타 뇽오, 말기 암 환자 역할 경험으로 채드윅 보스만을 ...</a>
																<a class="cmt_num updated" href="/movietalk/92334242#comment">3</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank6">
															<span class="list_rank text_en">6</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92329420">The savage innocents (1961) 에스키모들의 생태에 대한 영...</a>
																<a class="cmt_num" href="/movietalk/92329420#comment">6</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank7">
															<span class="list_rank text_en">7</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92332870">국내 개봉 예정 '롱레그스' 로튼 100% 리뷰 모음</a>
																<a class="cmt_num" href="/movietalk/92332870#comment">2</a>
															</span><span class="list_info"></span>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="xe-widget-wrapper "
						style="float: left; width: 49%; border-width: 0px; border-style: solid; border-color: rgb(34, 34, 34); margin: 0px 0px 18px; background-image: none; background-repeat: repeat; background-position: 0% 0%;">
						<div style="padding: 0px 0px 0px 0px !important;">
							<div>
								<div class="ink_widget">
	
									<div class="w_title">
										<h3>
											<a href="/bestboard">익무힛갤</a>
										</h3>
									</div>
									<div class="w_list wn">
										<ul>
											<li class="page1 active">
												<ul class="list_unit list_unit1">
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank1">
															<span class="list_rank text_en">1</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92337379">염정아 X 황정민 &lt;크로스&gt; 넷플릭스 8월 공개</a>
																<a class="cmt_num updated" href="/movietalk/92337379#comment">3</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank2">
															<span class="list_rank text_en">2</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336730">‘캡틴아메리카 브레이브 뉴월드’ 뉴스틸</a>
																<a class="cmt_num updated" href="/movietalk/92336730#comment">7</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank3">
															<span class="list_rank text_en">3</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336531">아이유 엘르 2024 7월호 화보</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank4">
															<span class="list_rank text_en">4</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336476">2024년 7월 4일 국내 박스오피스</a>
																<a class="cmt_num updated" href="/movietalk/92336476#comment">2</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank5">
															<span class="list_rank text_en">5</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336453">CGV용산 상영관층(7층)에 데드풀 홍보부스 설치</a>
																<a class="cmt_num updated" href="/movietalk/92336453#comment">3</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank6">
															<span class="list_rank text_en">6</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336434">&lt;여전사 지나&gt;에 출연한 빌리 부처와 홈랜더</a>
																<a class="cmt_num updated" href="/movietalk/92336434#comment">4</a>
															</span><span class="list_info"></span>
														</div>
													</li>
													<li class="has_rankB">
														<div class="list_rank_wrap box_rank rank7">
															<span class="list_rank text_en">7</span>
														</div>
														<div class="list_main_wrap clearfix">
															<span class="list_main">
																<a class="title_link" href="/movietalk/92336391">영화가 달리고는 있으나..(탈주 단평 스포o)</a>
																<a class="cmt_num updated" href="/movietalk/92336391#comment">7</a>
															</span><span class="list_info"></span>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="xe-widget-wrapper "
						style="float: right; width: 49%; border-color: rgb(0, 0, 0); border-style: solid; border-width: 0px; margin: 0px 0px 18px; background-image: none; background-repeat: repeat; background-position: 0% 0%;">
						<div style="padding: 0px 0px 0px 0px !important;">
							<div>
								<div class="ink_widget"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ink_footer_wrap" th:insert="~{thymeleaf/main/footer :: footer}"></div>

			<div id="window-scroll" class="window-scroll">
		    <a href="#">
		        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 256 256" data-icon="ph:triangle-fill" class="iconify iconify--ph"><path fill="currentColor" d="M236.78 211.81A24.34 24.34 0 0 1 215.45 224H40.55a24.34 24.34 0 0 1-21.33-12.19a23.51 23.51 0 0 1 0-23.72l87.43-151.87a24.76 24.76 0 0 1 42.7 0l87.45 151.87a23.51 23.51 0 0 1-.02 23.72"></path></svg>
		    </a>
		</div>
	</div>
</body>
</html>